学生数据库系统查询助手.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: 学生数据库系统查询助手
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.2.0@4e5891a2f4fff19b005a662a1fadff0e56b62b2dd1b4a93bdffae83c5b38b05e
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/echarts:0.0.7@1a9050c16b63a1c82bd1632c00fa495af4d8854d25fb7d465d47775e1b798eff
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: hjlarry/database:0.0.6@534bc26cf5bc4ff6b5557457452287ccc71f00eef9378784c4f43ca49954ca2f
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
      id: 1782114807894-llm
      selected: false
      source: '1782114807894'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      selected: false
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: answer
        targetType: code
      id: answer-source-1782115182189-target
      selected: false
      source: answer
      sourceHandle: source
      target: '1782115182189'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1782115182189-source-1782115455713-target
      selected: false
      source: '1782115182189'
      sourceHandle: source
      target: '1782115455713'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: answer
        targetType: iteration
      id: 1782115455713-source-1782115978294-target
      selected: false
      source: '1782115455713'
      sourceHandle: source
      target: '1782115978294'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1782115978294'
        sourceType: iteration-start
        targetType: code
      id: 1782115978294start-source-1782116015213-target
      selected: false
      source: 1782115978294start
      sourceHandle: source
      target: '1782116015213'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1782115978294'
        sourceType: code
        targetType: tool
      id: 1782116015213-source-1782116329382-target
      selected: false
      source: '1782116015213'
      sourceHandle: source
      target: '1782116329382'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: iteration
        targetType: code
      id: 1782115978294-source-1782116519106-target
      selected: false
      source: '1782115978294'
      sourceHandle: source
      target: '1782116519106'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: tool
      id: 1782117573019-59dcb320-5300-4b08-ae49-3c7d3ee3dad6-1782117791651-target
      selected: false
      source: '1782117573019'
      sourceHandle: 59dcb320-5300-4b08-ae49-3c7d3ee3dad6
      target: '1782117791651'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: tool
      id: 1782117573019-48b80497-253f-4592-a437-18ac294d001f-1782117855725-target
      selected: false
      source: '1782117573019'
      sourceHandle: 48b80497-253f-4592-a437-18ac294d001f
      target: '1782117855725'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: tool
      id: 1782117573019-5a0a3f5c-3c45-47da-950d-67638b143e3c-1782117861919-target
      selected: false
      source: '1782117573019'
      sourceHandle: 5a0a3f5c-3c45-47da-950d-67638b143e3c
      target: '1782117861919'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: answer
      id: 1782117791651-source-1782118666268-target
      selected: false
      source: '1782117791651'
      sourceHandle: source
      target: '1782118666268'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: answer
      id: 1782117855725-source-1782118667965-target
      selected: false
      source: '1782117855725'
      sourceHandle: source
      target: '1782118667965'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: answer
      id: 1782117861919-source-1782118669806-target
      selected: false
      source: '1782117861919'
      sourceHandle: source
      target: '1782118669806'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1782117392592-source-1782117573019-target
      source: '1782117392592'
      sourceHandle: source
      target: '1782117573019'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1782116519106-source-1782116811991-target
      source: '1782116519106'
      sourceHandle: source
      target: '1782116811991'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1782116811991-source-1782117392592-target
      source: '1782116811991'
      sourceHandle: source
      target: '1782117392592'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1782116811991-source-1782188786047-target
      source: '1782116811991'
      sourceHandle: source
      target: '1782188786047'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1782188786047-source-1782188867611-target
      source: '1782188786047'
      sourceHandle: source
      target: '1782188867611'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables: []
      height: 73
      id: '1782114807894'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '用户问题:{{#sys.query#}}

            '
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3-max
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 15cbec1b-a1bc-4a05-ae27-231f94843c9a
          role: system
          text: "你是一个专业的SQL查询生成器，负责根据用户查询创建标准的MySQL数据库SQL语句。\n\n## 任务\n根据以下问题，生成一个格式清晰、结构明确的JSON数组，其中每个元素是一条合法且性能优化的MySQL查询语句。\n\
            \n### 表信息\n表名：student_grades（学生成绩信息表）\n\n### 字段说明\n- id: 主键\n- student_id:\
            \ 学号\n- student_name: 学生姓名\n- class_name: 班级\n- subject: 科目\n- score:\
            \ 分数\n- exam_date: 考试日期\n- semester: 学期\n- grade: 年级\n- created_at: 记录创建时间\n\
            - updated_at: 记录更新时间\n\n### 输出要求\n1. 根据用户的问题，生成最多10条直接关联问题的SQL查询语句。\n\
            2. 每条SQL应从不同分析角度（如按科目、班级、学期、年级等维度）切入，确保覆盖多维统计需求。\n3. 所有SQL必须语法正确、可执行，并注重性能优化（如避免SELECT\
            \ *，合理使用索引字段等）。\n4. 若问题涉及多维统计（例如“各班各科平均分”），请为每个统计维度单独生成子查询。\n5. 对于全量数据查询，必须按semester（学期）进行聚合或排序。\n\
            6. 最终输出必须是纯JSON数组格式，以 ```json 开头，以 ``` 结尾，不包含任何额外解释或文本，其中每个元素必须是对象，且仅包含一个字段：`\"\
            sql\"`**（字符串类型），格式示例：\n   ```json\n   [\n     { \"sql\": \"SELECT ...;\"\
            \ },\n     { \"sql\": \"SELECT ...;\" }\n   ]\n\n请严格按照上述格式和要求生成响应。\n"
        - id: f7b844e2-fea2-4e18-b783-75ced727b53d
          role: user
          text: 查询全校各科目平均分情况
        - id: 9240087d-59a1-4c06-b394-2dc41fcb95a2
          role: assistant
          text: '```json

                       [

                {

                    "title": "统计全校各科目平均分",

                    "sql": "SELECT subject, ROUND(AVG(score), 2) AS avg_score FROM
            student_scores GROUP BY subject ORDER BY avg_score DESC;"

                },

                {

                    "title": "统计各科目及格率",

                    "sql": "SELECT subject, ROUND(COUNT(CASE WHEN score >= 60 THEN
            1 END) * 100.0 / COUNT(*), 2) as pass_rate FROM student_scores GROUP BY
            subject ORDER BY pass_rate DESC;"

                },

                {

                    "title": "统计各科目成绩分布",

                    "sql": "SELECT subject, COUNT(CASE WHEN score >= 90 THEN 1 END)
            as excellent, COUNT(CASE WHEN score >= 75 AND score < 90 THEN 1 END) as
            good, COUNT(CASE WHEN score >= 60 AND score < 75 THEN 1 END) as pass,
            COUNT(CASE WHEN score < 60 THEN 1 END) as fail FROM student_scores GROUP
            BY subject;"

                }

            ]

            ​```

            '
        selected: false
        title: LLM（生成sql语句）
        type: llm
        vision:
          enabled: false
      height: 88
      id: llm
      position:
        x: 368
        y: 179
      positionAbsolute:
        x: 368
        y: 179
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 'sql语句生成中

          '
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 100
      id: answer
      position:
        x: 333
        y: 391
      positionAbsolute:
        x: 333
        y: 391
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "# 导入正则表达式模块，用于字符串模式匹配\nimport re  \n # 导入JSON模块，用于处理JSON数据\nimport\
          \ json \n\n# 定义函数，用于从输入字符串中提取和解析JSON数据，返回字典\ndef main(input_string: str)\
          \ -> dict:  \n    # 使用正则表达式查找并提取被 ```json 和 ``` 包裹的内容\n    pattern_match\
          \ = re.search(r'```json\\s*([\\s\\S]*?)\\s*```', input_string)\n     # 如果没有找到匹配的内容\n\
          \    if not pattern_match: \n        raise ValueError(\"输入字符串中未找到有效的 JSON\
          \ 数据\") \n    \n    # 提取匹配到的JSON字符串，并去除前后空白\n    json_content = pattern_match.group(1).strip()\n\
          \    # 尝试解析JSON字符串\n    try:  \n        # 将提取的JSON字符串解析为Python字典\n     \
          \   parsed_json = json.loads(json_content)\n    # 如果解析过程中发生JSON解码错误\n  \
          \  except json.JSONDecodeError as err:  \n        raise ValueError(f\"JSON\
          \ 解析失败: {err}\") \n    \n    # 返回一个包含解析结果的字典\n    return {\n        \"result\"\
          : parsed_json, \n    }\n\n"
        code_language: python3
        outputs:
          result:
            children: null
            type: array[object]
        selected: false
        title: 代码执行（生成sql）
        type: code
        variables:
        - value_selector:
          - llm
          - text
          value_type: string
          variable: input_string
      height: 52
      id: '1782115182189'
      position:
        x: 676.0000000000001
        y: 233
      positionAbsolute:
        x: 676.0000000000001
        y: 233
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 'sql语句生成完毕

          '
        selected: false
        title: 直接回复 2
        type: answer
        variables: []
      height: 100
      id: '1782115455713'
      position:
        x: 676.0000000000001
        y: -15
      positionAbsolute:
        x: 676.0000000000001
        y: -15
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        error_handle_mode: remove-abnormal-output
        flatten_output: true
        height: 324
        is_parallel: false
        iterator_input_type: array[object]
        iterator_selector:
        - '1782115182189'
        - result
        output_selector:
        - '1782116329382'
        - json
        output_type: array[object]
        parallel_nums: 10
        selected: false
        start_node_id: 1782115978294start
        title: 迭代
        type: iteration
        width: 476
      height: 324
      id: '1782115978294'
      position:
        x: 1012
        y: 222
      positionAbsolute:
        x: 1012
        y: 222
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 476
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1782115978294start
      parentId: '1782115978294'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 1036
        y: 290
      selectable: false
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        code: "def main(args: dict) -> dict:\n    # 提取输入字典的字段\n    title = args.get(\"\
          title\", \"\")\n    sql = args.get(\"sql\", \"\")\n    \n    # 返回包含 title\
          \ 和 sql 的字典\n    return {\n        \"title\": title,\n        \"sql\": sql\n\
          \    }\n"
        code_language: python3
        isInIteration: true
        isInLoop: false
        iteration_id: '1782115978294'
        outputs:
          sql:
            children: null
            type: string
          title:
            children: null
            type: string
        selected: false
        title: 代码执行（处理sql）
        type: code
        variables:
        - value_selector:
          - '1782115978294'
          - item
          value_type: object
          variable: args
      height: 52
      id: '1782116015213'
      parentId: '1782115978294'
      position:
        x: 128
        y: 68
      positionAbsolute:
        x: 1140
        y: 290
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        is_team_authorization: true
        iteration_id: '1782115978294'
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The SQL query string.
            ja_JP: The SQL query string.
            pt_BR: The SQL query string.
            zh_Hans: SQL 查询语句。
          label:
            en_US: SQL Query
            ja_JP: SQL Query
            pt_BR: SQL Query
            zh_Hans: SQL 查询语句
          llm_description: The SQL query string.
          max: null
          min: null
          name: query
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Optional, Filling in this field will overwrite the database connection
              entered during authorization.
            ja_JP: Optional, Filling in this field will overwrite the database connection
              entered during authorization.
            pt_BR: Optional, Filling in this field will overwrite the database connection
              entered during authorization.
            zh_Hans: 选填，填写后将覆盖授权时填写的数据库连接。
          label:
            en_US: DB URI
            ja_JP: DB URI
            pt_BR: DB URI
            zh_Hans: DB URI
          llm_description: ''
          max: null
          min: null
          name: db_uri
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: json
          form: form
          human_description:
            en_US: Choose the output format.
            ja_JP: Choose the output format.
            pt_BR: Choose the output format.
            zh_Hans: 选择输出格式。
          label:
            en_US: Output format
            ja_JP: Output format
            pt_BR: Output format
            zh_Hans: 输出格式
          llm_description: ''
          max: null
          min: null
          name: format
          options:
          - icon: ''
            label:
              en_US: JSON
              ja_JP: JSON
              pt_BR: JSON
              zh_Hans: JSON
            value: json
          - icon: ''
            label:
              en_US: CSV
              ja_JP: CSV
              pt_BR: CSV
              zh_Hans: CSV
            value: csv
          - icon: ''
            label:
              en_US: YAML
              ja_JP: YAML
              pt_BR: YAML
              zh_Hans: YAML
            value: yaml
          - icon: ''
            label:
              en_US: Markdown
              ja_JP: Markdown
              pt_BR: Markdown
              zh_Hans: Markdown
            value: md
          - icon: ''
            label:
              en_US: Excel
              ja_JP: Excel
              pt_BR: Excel
              zh_Hans: Excel
            value: xlsx
          - icon: ''
            label:
              en_US: HTML
              ja_JP: HTML
              pt_BR: HTML
              zh_Hans: HTML
            value: html
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: 'Optional. For example {"connect_args": {"ssl": {"ca": "/path/to/ca.pem"}}}

              More connection options can be found at https://docs.sqlalchemy.org/en/20/core/engines.html#sqlalchemy.create_engine

              '
            ja_JP: 'Optional. For example {"connect_args": {"ssl": {"ca": "/path/to/ca.pem"}}}

              More connection options can be found at https://docs.sqlalchemy.org/en/20/core/engines.html#sqlalchemy.create_engine

              '
            pt_BR: 'Optional. For example {"connect_args": {"ssl": {"ca": "/path/to/ca.pem"}}}

              More connection options can be found at https://docs.sqlalchemy.org/en/20/core/engines.html#sqlalchemy.create_engine

              '
            zh_Hans: '选填项。例如 {"connect_args": {"ssl": {"ca": "/path/to/ca.pem"}}}

              更多连接选项可参考 https://docs.sqlalchemy.org/en/20/core/engines.html#sqlalchemy.create_engine

              '
          label:
            en_US: DB Config Options
            ja_JP: DB Config Options
            pt_BR: DB Config Options
            zh_Hans: 数据库连接配置选项
          llm_description: ''
          max: null
          min: null
          name: config_options
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          config_options: ''
          db_uri: ''
          format: ''
          query: ''
        plugin_id: hjlarry/database
        plugin_unique_identifier: hjlarry/database:0.0.6@534bc26cf5bc4ff6b5557457452287ccc71f00eef9378784c4f43ca49954ca2f
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=64df4d04-ef65-4353-b01f-19280248f378&filename=65d2d7404efb4952bb715a35ae79ccce92e70b820fd6cdb74e9acc58a505f7cf.svg
        provider_id: hjlarry/database/database
        provider_name: hjlarry/database/database
        provider_type: builtin
        selected: false
        title: SQL Execute
        tool_configurations:
          config_options:
            type: mixed
            value: null
          format:
            type: constant
            value: json
        tool_description: 此工具用于在已存在的数据库中执行 SQL 查询。
        tool_label: SQL Execute
        tool_name: sql_execute
        tool_node_version: '2'
        tool_parameters:
          db_uri:
            type: mixed
            value: ''
          query:
            type: mixed
            value: '{{#1782116015213.sql#}}'
        type: tool
      height: 114
      id: '1782116329382'
      parentId: '1782115978294'
      position:
        x: 137
        y: 158
      positionAbsolute:
        x: 1149
        y: 380
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "def main(args) -> dict:\n    return {\n        \"result\": \"\".join(str(item)\
          \ for item in args)\n    }"
        code_language: python3
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 代码执行（处理查询结果）
        type: code
        variables:
        - value_selector:
          - '1782115978294'
          - output
          value_type: array[object]
          variable: args
      height: 52
      id: '1782116519106'
      position:
        x: 1546.8920733458747
        y: 222
      positionAbsolute:
        x: 1546.8920733458747
        y: 222
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1782116519106'
          - result
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3-max
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 6e502bd0-7428-475d-a4eb-6f231a9336ef
          role: system
          text: "你是一个数据分析师，需要基于前一个模型生成的SQL语句及其执行结果，一定要优先针对用户问题进行回答，确保回答内容紧扣主题不发散，同时对相关维度的数据进行分析，并以JSON格式输出给用户。\n\
            \n### 参数\n- **用户输入**：{{#sys.query#}}\n- **SQL 模型生成**：{{#llm.text#}}\n\
            - **SQL 查询结果**：{{#context#}}\n\n### 图表使用场景与数据格式要求\n1. **线性图（趋势图）**：适用于展示趋势变化，如时间序列数据。\n\
            \   - `chartData`：纯数值列表，用分号分隔，例如 `\"120;200;150;180\"`\n   - `chartXAxis`：对应的类别或时间标签，用分号分隔，例如\
            \ `\"一月;二月;三月;四月\"`\n\n2. **柱状图（比较图）**：适用于比较不同类别的数量。\n   - `chartData`：纯数值列表，用分号分隔，例如\
            \ `\"85;92;78;88\"`\n   - `chartXAxis`：对应的类别名称，用分号分隔，例如 `\"数学;英语;物理;化学\"\
            `\n\n3. ### 饼图配置要求\n当 chartType 为 \"饼图\" 时，请按以下格式生成 ECharts 配置：\n- chartData：纯数字列表，用分号分隔，如\
            \ \"35;25;20\"\n- chartTitle：图表标题\n\n同时，在 chartXAxis 中传入对应的类别名称，如 \"A类;B类;C类\"\
            \n\n### 要求：\n1. **一定优先回答**：用Markdown格式回复用户问题，并对数据进行简要概括。\n2. **图表选择**：\n\
            \   - 用户查询**趋势、变化、时间序列** → 必须用**线性图**\n   - 用户查询**比较、排名、不同类别** → 必须用**柱状图**\n\
            \   - 用户查询**占比、比例、分布** → 必须用**饼状图**\n3. 将输出内容封装到JSON中，格式如下：\n​```json\n\
            {\n  \"results\": \"先用Markdown格式回复用户问题，其他维度数据简单概括，但必须完整展示数据\",\n  \"ECHarts\"\
            : \"1\", // 如果需要生成图表，则为 \"1\"；否则为 \"0\"\n  \"chartType\": \"线性图/柱状图/饼状图\"\
            , // 图表类型（仅当 ECHarts 为 \"1\" 时提供）\n  \"chartTitle\": \"图表标题\", // 图表标题（仅当\
            \ ECHarts 为 \"1\" 时提供）\n  \"chartData\": \"图表的数据，多个用;隔开\", // 图表数据（仅当\
            \ ECHarts 为 \"1\" 时提供）\n  \"chartXAxis\": \"图表的X轴，多个用;隔开\" // 图表的X轴数据（仅当\
            \ ECHarts 为 \"1\" 时提供）\n}\n​```\n\n#### 注意事项：\n- 如果查询结果适合生成图表，则将 ECHarts\
            \ 设置为 \"1\"，并补充 chartType、chartTitle、chartData 和 chartXAxis 字段。\n- 如果查询结果不适合生成图表，则将\
            \ ECHarts 设置为 \"0\"，并省略 chartType、chartTitle、chartData 和 chartXAxis 字段。\n\
            - 对于占比查询，必须使用饼状图进行展示。\n```\n"
        selected: false
        title: LLM 2
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1782116811991'
      position:
        x: 2061.17364580445
        y: 317.1947815836833
      positionAbsolute:
        x: 2061.17364580445
        y: 317.1947815836833
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import re\nimport json\n\ndef main(args: str) -> dict:\n    # 默认返回值\n\
          \    default_output = {\n        \"results\": \"\",\n        \"ECHarts\"\
          : \"0\",\n        \"chartType\": \"\",\n        \"chartTitle\": \"\",\n\
          \        \"chartData\": \"\",\n        \"chartXAxis\": \"\"\n    }\n   \
          \ \n    try:\n        # 使用正则表达式提取被 ```json 和 ``` 包裹的内容\n        match =\
          \ re.search(r'```json\\s*([\\s\\S]*?)\\s*```', args)\n        if not match:\n\
          \            raise ValueError(\"输入字符串中未找到有效的 JSON 数据\")\n        \n    \
          \    # 提取 JSON 字符串\n        json_str = match.group(1).strip()\n        \n\
          \        # 将 JSON 字符串解析为 Python 字典\n        results_dict = json.loads(json_str)\n\
          \    except Exception as e:\n        # 如果解析失败，打印错误信息并返回默认输出\n        print(f\"\
          解析失败: {e}\")\n        return default_output\n    \n    # 检查是否包含 ECHarts\
          \ 字段\n    if \"ECHarts\" not in results_dict:\n        results_dict[\"ECHarts\"\
          ] = \"0\"  # 默认设置为 \"0\"\n    \n    # 根据 ECHarts 的值动态检查图表相关字段\n    if results_dict[\"\
          ECHarts\"] == \"1\":\n        required_chart_fields = [\"chartType\", \"\
          chartTitle\", \"chartData\", \"chartXAxis\"]\n        for field in required_chart_fields:\n\
          \            if field not in results_dict:\n                results_dict[field]\
          \ = \"\"  # 自动补全缺失字段为空字符串\n    \n    # 构造返回值\n    return {\n        \"results\"\
          : str(results_dict.get(\"results\", \"\")),\n        \"ECHarts\": str(results_dict.get(\"\
          ECHarts\", \"0\")),\n        \"chartType\": str(results_dict.get(\"chartType\"\
          , \"\")),\n        \"chartTitle\": str(results_dict.get(\"chartTitle\",\
          \ \"\")),\n        \"chartData\": str(results_dict.get(\"chartData\", \"\
          \")),\n        \"chartXAxis\": str(results_dict.get(\"chartXAxis\", \"\"\
          ))\n    }\n"
        code_language: python3
        outputs:
          ECHarts:
            children: null
            type: string
          chartData:
            children: null
            type: string
          chartTitle:
            children: null
            type: string
          chartType:
            children: null
            type: string
          chartXAxis:
            children: null
            type: string
          results:
            children: null
            type: string
        selected: false
        title: 代码执行（生成图表）
        type: code
        variables:
        - value_selector:
          - '1782116811991'
          - text
          value_type: string
          variable: args
      height: 52
      id: '1782117392592'
      position:
        x: 2762.3624741280623
        y: 129.95269196619526
      positionAbsolute:
        x: 2762.3624741280623
        y: 129.95269196619526
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 58a78fb6-8517-4a1c-849a-c95ae8349ead
            value: '0'
            varType: string
            variable_selector:
            - '1782117392592'
            - ECHarts
          id: 'true'
          logical_operator: and
        - case_id: 59dcb320-5300-4b08-ae49-3c7d3ee3dad6
          conditions:
          - comparison_operator: contains
            id: 1338ff69-5c57-4ec8-9b72-410205c0a511
            value: 线性图
            varType: string
            variable_selector:
            - '1782117392592'
            - chartType
          id: 59dcb320-5300-4b08-ae49-3c7d3ee3dad6
          logical_operator: and
        - case_id: 48b80497-253f-4592-a437-18ac294d001f
          conditions:
          - comparison_operator: contains
            id: 5f5c805f-7f8e-40f2-89e7-5a4ca24d0183
            value: 柱状图
            varType: string
            variable_selector:
            - '1782117392592'
            - chartType
          id: 48b80497-253f-4592-a437-18ac294d001f
          logical_operator: and
        - case_id: 5a0a3f5c-3c45-47da-950d-67638b143e3c
          conditions:
          - comparison_operator: contains
            id: 485bb4ed-f021-4f49-8c37-52b9d87a6a67
            value: 饼状图
            varType: string
            variable_selector:
            - '1782117392592'
            - chartType
          id: 5a0a3f5c-3c45-47da-950d-67638b143e3c
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 340
      id: '1782117573019'
      position:
        x: 3481.223303379777
        y: 118.37861789212121
      positionAbsolute:
        x: 3481.223303379777
        y: 118.37861789212121
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: chart title
            ja_JP: chart title
            pt_BR: chart title
            zh_Hans: 图表的标题
          label:
            en_US: title
            ja_JP: title
            pt_BR: title
            zh_Hans: 标题
          llm_description: chart title
          max: null
          min: null
          name: title
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: data for generating chart, each number should be separated by ";"
            ja_JP: data for generating chart, each number should be separated by ";"
            pt_BR: data for generating chart, each number should be separated by ";"
            zh_Hans: 用于生成线性图表的数据，每个数字之间用 ";" 分隔
          label:
            en_US: data
            ja_JP: data
            pt_BR: data
            zh_Hans: 数据
          llm_description: data for generating linear chart, data should be a string
            contains a list of numbers like "1;2;3;4;5"
          max: null
          min: null
          name: data
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: X axis for chart, each text should be separated by ";"
            ja_JP: X axis for chart, each text should be separated by ";"
            pt_BR: X axis for chart, each text should be separated by ";"
            zh_Hans: 线性图表的 x 轴，每个文本之间用 ";" 分隔
          label:
            en_US: X Axis
            ja_JP: X Axis
            pt_BR: X Axis
            zh_Hans: x 轴
          llm_description: x axis for linear chart, x axis should be a string contains
            a list of texts like "a;b;c;1;2" in order to match the data
          max: null
          min: null
          name: x_axis
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          data: ''
          title: ''
          x_axis: ''
        plugin_id: langgenius/echarts
        plugin_unique_identifier: langgenius/echarts:0.0.7@1a9050c16b63a1c82bd1632c00fa495af4d8854d25fb7d465d47775e1b798eff
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=64df4d04-ef65-4353-b01f-19280248f378&filename=6502fc86791e68061d3ecf90357e15ab15189436fd63ff1bc2e08966dddbe4f3.svg
        provider_id: langgenius/echarts/echarts
        provider_name: langgenius/echarts/echarts
        provider_type: builtin
        selected: false
        title: 线性图表
        tool_configurations: {}
        tool_description: 线性图表
        tool_label: 线性图表
        tool_name: line_chart
        tool_node_version: '2'
        tool_parameters:
          data:
            type: mixed
            value: '{{#1782117392592.chartData#}}'
          title:
            type: mixed
            value: '{{#1782117392592.chartTitle#}}'
          x_axis:
            type: mixed
            value: '{{#1782117392592.chartXAxis#}}'
        type: tool
      height: 52
      id: '1782117791651'
      position:
        x: 3852.446606759554
        y: 179
      positionAbsolute:
        x: 3852.446606759554
        y: 179
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: chart title
            ja_JP: chart title
            pt_BR: chart title
            zh_Hans: 图表的标题
          label:
            en_US: title
            ja_JP: title
            pt_BR: title
            zh_Hans: 标题
          llm_description: chart title
          max: null
          min: null
          name: title
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: data for generating chart, each number should be separated by ";"
            ja_JP: data for generating chart, each number should be separated by ";"
            pt_BR: data for generating chart, each number should be separated by ";"
            zh_Hans: 用于生成柱状图的数据，每个数字之间用 ";" 分隔
          label:
            en_US: data
            ja_JP: data
            pt_BR: data
            zh_Hans: 数据
          llm_description: data for generating bar chart, data should be a string
            contains a list of numbers like "1;2;3;4;5"
          max: null
          min: null
          name: data
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: X axis for chart, each text should be separated by ";"
            ja_JP: X axis for chart, each text should be separated by ";"
            pt_BR: X axis for chart, each text should be separated by ";"
            zh_Hans: 柱状图的 x 轴，每个文本之间用 ";" 分隔
          label:
            en_US: X Axis
            ja_JP: X Axis
            pt_BR: X Axis
            zh_Hans: x 轴
          llm_description: x axis for bar chart, x axis should be a string contains
            a list of texts like "a;b;c;1;2" in order to match the data
          max: null
          min: null
          name: x_axis
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          data: ''
          title: ''
          x_axis: ''
        plugin_id: langgenius/echarts
        plugin_unique_identifier: langgenius/echarts:0.0.7@1a9050c16b63a1c82bd1632c00fa495af4d8854d25fb7d465d47775e1b798eff
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=64df4d04-ef65-4353-b01f-19280248f378&filename=6502fc86791e68061d3ecf90357e15ab15189436fd63ff1bc2e08966dddbe4f3.svg
        provider_id: langgenius/echarts/echarts
        provider_name: langgenius/echarts/echarts
        provider_type: builtin
        selected: false
        title: 柱状图
        tool_configurations: {}
        tool_description: 柱状图
        tool_label: 柱状图
        tool_name: bar_chart
        tool_node_version: '2'
        tool_parameters:
          data:
            type: mixed
            value: '{{#1782117392592.chartData#}}'
          title:
            type: mixed
            value: '{{#1782117392592.chartTitle#}}'
          x_axis:
            type: mixed
            value: '{{#1782117392592.chartXAxis#}}'
        type: tool
      height: 52
      id: '1782117855725'
      position:
        x: 3846.446606759554
        y: 296.10792665412555
      positionAbsolute:
        x: 3846.446606759554
        y: 296.10792665412555
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: chart title
            ja_JP: chart title
            pt_BR: chart title
            zh_Hans: 图表的标题
          label:
            en_US: title
            ja_JP: title
            pt_BR: title
            zh_Hans: 标题
          llm_description: chart title
          max: null
          min: null
          name: title
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: data for generating chart, each number should be separated by ";"
            ja_JP: data for generating chart, each number should be separated by ";"
            pt_BR: data for generating chart, each number should be separated by ";"
            zh_Hans: 用于生成饼图的数据，每个数字之间用 ";" 分隔
          label:
            en_US: data
            ja_JP: data
            pt_BR: data
            zh_Hans: 数据
          llm_description: data for generating pie chart, data should be a string
            contains a list of numbers like "1;2;3;4;5"
          max: null
          min: null
          name: data
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Categories for chart, each category should be separated by ";"
            ja_JP: Categories for chart, each category should be separated by ";"
            pt_BR: Categories for chart, each category should be separated by ";"
            zh_Hans: 饼图的分类，每个分类之间用 ";" 分隔
          label:
            en_US: Categories
            ja_JP: Categories
            pt_BR: Categories
            zh_Hans: 分类
          llm_description: categories for pie chart, categories should be a string
            contains a list of texts like "a;b;c;1;2" in order to match the data,
            each category should be split by ";"
          max: null
          min: null
          name: categories
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          categories: ''
          data: ''
          title: ''
        plugin_id: langgenius/echarts
        plugin_unique_identifier: langgenius/echarts:0.0.7@1a9050c16b63a1c82bd1632c00fa495af4d8854d25fb7d465d47775e1b798eff
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=64df4d04-ef65-4353-b01f-19280248f378&filename=6502fc86791e68061d3ecf90357e15ab15189436fd63ff1bc2e08966dddbe4f3.svg
        provider_id: langgenius/echarts/echarts
        provider_name: langgenius/echarts/echarts
        provider_type: builtin
        selected: false
        title: 饼图
        tool_configurations: {}
        tool_description: 饼图
        tool_label: 饼图
        tool_name: pie_chart
        tool_node_version: '2'
        tool_parameters:
          categories:
            type: mixed
            value: '{{#1782117392592.chartXAxis#}}'
          data:
            type: mixed
            value: '{{#1782117392592.chartData#}}'
          title:
            type: mixed
            value: '{{#1782117392592.chartTitle#}}'
        type: tool
      height: 52
      id: '1782117861919'
      position:
        x: 3846.446606759554
        y: 411.02266295581086
      positionAbsolute:
        x: 3846.446606759554
        y: 411.02266295581086
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '---------------------------

          线性图：

          {{#1782117791651.text#}}'
        selected: false
        title: 直接回复 5
        type: answer
        variables: []
      height: 119
      id: '1782118666268'
      position:
        x: 4162.139179854696
        y: 69.00000000000026
      positionAbsolute:
        x: 4162.139179854696
        y: 69.00000000000026
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '---------------------------

          柱状图:

          {{#1782117855725.text#}}'
        selected: false
        title: 直接回复 6
        type: answer
        variables: []
      height: 119
      id: '1782118667965'
      position:
        x: 4200.634314645699
        y: 254.02266295581114
      positionAbsolute:
        x: 4200.634314645699
        y: 254.02266295581114
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '---------------------------

          饼图:

          {{#1782117861919.text#}}'
        selected: false
        title: 直接回复 7
        type: answer
        variables: []
      height: 119
      id: '1782118669806'
      position:
        x: 4229.349550696651
        y: 458.9832001066843
      positionAbsolute:
        x: 4229.349550696651
        y: 458.9832001066843
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1782116811991'
          - text
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3-max
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - role: system
          text: 你是一个数据分析师，严格将{{#context#}}的文字内容以通俗的表达回答用户
        selected: false
        title: LLM 3
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1782188786047'
      position:
        x: 2496.1587704243593
        y: 502.5884944353303
      positionAbsolute:
        x: 2496.1587704243593
        y: 502.5884944353303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1782188786047.text#}}'
        selected: false
        title: 直接回复 6
        type: answer
        variables: []
      height: 103
      id: '1782188867611'
      position:
        x: 2798.1587704243593
        y: 502.5884944353303
      positionAbsolute:
        x: 2798.1587704243593
        y: 502.5884944353303
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -2378.583813175983
      y: -128.47895103055174
      zoom: 1.0368000000000024
  rag_pipeline_variables: []
